<!DOCTYPE html>
<html>
  <head>
    <title>Tic tac toe</title>
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script defer src="client.js"></script>
    <!-- <link rel="stylesheet" href="styles2.css"> -->
    <script>
        const roomName = "<%= roomName %>"
    </script>
</head>
<body>
    <style>
        .cell{
            width: 100px;
            height: 100px;
            border: 2px solid;
            box-shadow: 0 0 0 2px;
            line-height: 100px;
            font-size: 100px;
            cursor: pointer;
        }

        .statusText{
            text-align: center;
            font-size: 30px;
            font-weight: bold;
            margin: auto;
        }

        .name{
            text-align: center;
            font-size: 50px;
            font-weight: bold;
            margin: auto;
            
        }
        .Event{
            width: fit-content;
            height: 50px;
            text-align: center;
            border: 2px solid;
            font-size: 40px;
            cursor: pointer;
        }

        #buttonContainer{
            align-self: flex;
            display: grid;
            grid-template-columns: repeat(2, auto);
            width: 250px;
            height: 100px;
            margin: auto;
        }
        #gameContainer{
            display: flex;
            text-align: center;
            display: grid;
            grid-template-columns: repeat(3, auto);
            width: 300px;
            margin: auto;
        }
    </style>


<div id="buttonContainer"> 
    <button id='restartButton' onclick="resetHandler()" class="Event">Restart</button>
    <button class="Event"><a href="/" style="text-decoration: none; color: inherit;" >Back</a></button>
</div>
<div id="gameContainer">
          <button id="0" cellId="0" onClick="onClickHandler(this)" class="cell"></button>
          <button id="1" cellId="1" onClick="onClickHandler(this)" class="cell"></button>
          <button id="2" cellId="2" onClick="onClickHandler(this)" class="cell"></button>
          <button id="3" cellId="3" onClick="onClickHandler(this)" class="cell"></button>
          <button id="4" cellId="4" onClick="onClickHandler(this)" class="cell"></button>
          <button id="5" cellId="5" onClick="onClickHandler(this)" class="cell"></button>
          <button id="6" cellId="6" onClick="onClickHandler(this)" class="cell"></button>
          <button id="7" cellId="7" onClick="onClickHandler(this)" class="cell"></button>
          <button id="8" cellId="8" onClick="onClickHandler(this)" class="cell"></button>
</div>
        
        <div id='statusText' class="statusText"></div>

    <!-- cała logika gry--> 
    <script>    
        const cells = document.querySelectorAll(".cell");
        const statusText = document.querySelector("#statusText");
        const restartButton = document.querySelector("#restartButton");
        const wininng = [
            [0, 1, 2],
            [3, 4, 5],
            [6, 7, 8],
            [0, 3, 6],
            [1, 4, 7],
            [2, 5, 8],
            [0, 4, 8],
            [2, 4, 6]
        ];

        let possible = ["", "", "", "", "", "", "", "", ""];
        let currPlayer = "X";
        let finished = false;
        let winner = false;
        statusText.textContent = `${currPlayer}'s turn`;

        function restartGame(){
            currPlayer = "X";
            possible = ["", "", "", "", "", "", "", "", ""];
            statusText.textContent = `You can begin!`;
            cells.forEach(cell => cell.textContent = "");
            
            for(let i = 0; i < 9; i++){
                document.getElementById(i).style.backgroundColor = "";
            }
            finished = false;
        }

        function cellChosen(cellId){
            if(possible[cellId] != "" || finished){
                return;
            }
            updateCell(cellId);
            checkwinner();
        }

        function updateCell(index){
            possible[index] = currPlayer;
            cells[index].textContent = currPlayer;
        }

        function changePalyer(){
            if(currPlayer == "X")
                currPlayer = "O";
            else
                currPlayer = "X";
            statusText.textContent = `${currPlayer}'s turn`; 
        }

        function checkwinner(){
            let won = false;

            for(let i = 0; i < wininng.length; i++){
                const state = wininng[i];
                const cell1 = possible[state[0]];
                const cell2 = possible[state[1]];
                const cell3 = possible[state[2]];
                
                if(cell1 == "" || cell2 == "" || cell3 == ""){
                    continue;
                }
                else if(cell1 == cell2 && cell2 == cell3){
                    won = true;
                    break;
                }
            }
            
            if(won){
                statusText.textContent = `${currPlayer} won!`; 
                finished = true;
                winner = true;
            }
            else if(!possible.includes("")){
                statusText.textContent = `Draw!`; 
                finished = true;
            }
            else{
                changePalyer();
            }
}
    </script>
  </body>
</html>

   