<!DOCTYPE html>
<html>
  <head>
    <title>Platforma</title>
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script defer src="client.js"></script>
</head>
<body>
    <div id="room-container">
        <% Object.keys(rooms).forEach(room => { %>
            <div><%= room %></div>
            <a href="/<%=room%>">Join</a>
        <% }) %>
    </div>
    <form action="/room" method="POST">
        <input name="room" type="text" required>
        <button type="submit">New room</button>
    </form> 
</body>
</html>