<!DOCTYPE html>
<html>
  <head>
    <title>Platforma</title>
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script defer src="client.js"></script>
    <link rel="stylesheet" href="styles.css">
</head> 
<body>
    <!-- Napis -->
    <div class="info">Rooms</div>
    
    <!-- Do tworzenia nowego -->
    <div id="search">
            <form action="/room" method="POST" autocomplete="off">
                <input name="room" type="text" placeholder="Podaj nazwę pokoju" required>
                <button class="button" type="submit">+</button>
            </form> 
    </div>
    
    <!-- Pokoje -->
    <ol id="room-container">
            <% Object.keys(rooms).forEach(room => { %>
                <li>
                    <span><a class="link" href="/<%=room%>"><%=room%></a></span>
                    <% }) %>
                </li>
    </ol>
   
    <script>
        function refresh(){
            window.location.reload()
        }
    </script>
    </body>
</html>