body {
    background: linear-gradient(#dbf0a3, #9bc2eb);
    background-attachment: fixed;
    font-family: "Open Sans", cursive;
    text-align: center;
}

.cell{
    font-family: "Open Sans", cursive;
    width: 180px;
    height: 180px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 180px;
    font-size: 180px;
    cursor: pointer;
}

.statusText{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: auto;
}

.name{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin: auto;
    
}
.Event{
    font-family: "Open Sans", cursive;
    width: fit-content;
    height: 50px;
    text-align: top;
    border: 2px solid;
    font-size: 40px;
    cursor: pointer;
    margin: 5px;
}

#buttonContainer{
    align-self: flex;
    display: grid;
    grid-template-columns: repeat(2, auto);
    width: 250px;
    height: 100px;
    margin: auto;
}
#gameContainer{
    display: flex;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 540px;
    margin: auto;
}