body {
	margin: 0;
	padding: clamp(1rem, 2vw, 3rem);
	font-family: "Open Sans", cursive;
    background: linear-gradient( #9bc2eb, #dbf0a3);
    background-attachment: fixed;
    text-align: center;
}

/* Guardian-style list */

#room-container {
	margin: 5 auto;
}

ol {
	list-style: none;
	padding: 1.5rem;
	columns: 20rem;
	column-gap: 4rem;
	border-radius: 0.5rem;
}

li {
	--y: calc(100% - 2rem);
	display: grid;
	grid-template-columns: minmax(3.75em, auto) 1fr;
	gap: 0 0.5em;
	break-inside: avoid;
    page-break-inside: avoid;
	background: radial-gradient(circle at 30% var(--y), rgb(50 50 50), rgb(0 0 0));
	color: white;
	border-radius: 0.75rem;
	overflow: hidden;
	box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 0.17)
}

li + li {
	margin-top: 1rem;
}

li::before {
	counter-increment: list-item 1;
	content: counter(list-item);
	font-weight: 700;
	font-size: 4.5em;
	letter-spacing: -0.125em;
	line-height: 1;
	color: turquoise;
	grid-column: 1;
	grid-row: span 2;
	align-self: end;
	margin: 0 0 -0.15em -0.15em;
}

li span {
	grid-column: 2;
}

li span:first-of-type {
	font-size: 1.5em;
	padding-top: 1rem;
}

li span:last-of-type {
	font-style: italic;
	padding-bottom: 1rem;
}
/*End guardian-style list*/

/*New room btn */  
.button {
    background-color: #f900aa;
    border: none;
    color: white;
    height: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    border-radius: 90%;
  }
/*End new btn*/ 

/* New box*/
input:focus::placeholder {
    color: transparent;
  }

input { 
    position: relative;
    font-family: "Open Sans", cursive;
    background-color: rgb(217, 230, 235);
    height: 20px; 
    padding: 10px; 
}
/* End new box */



.info{
    font-size: 80px;
    font-weight: bold;
    margin: auto;
    font-family: "Open Sans", cursive;
}
.link{
    text-decoration: none;
    font-size: xx-large;
    color: inherit;
}